* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #3b82f6;
}

.navbar {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 5px 15px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(50px);
}

.navbar h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #1e40af;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 8px 10px;
}

.navbar ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #1e40af;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 80px;
  border: solid #fff 4px;
}

.profile h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
}

.body-text {
  margin-top: 20px;
}

.body-text .head {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #1e40af;
  background-color: #d6d3d1;
  width: 60%;
  margin-left: 20%;
}

.body-text .body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.sosmed {
  margin: 20px 46%;
  width: 300px;
}

.sosmed a img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  right: 40%;
}

.footer p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

span {
  color: #000;
}

#saran {
  width: 100%;
  height: 100vh;
}

#saran div {
  margin-top: 5%;
}

#saran div h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #1e40af;

  width: 60%;
  margin-left: 20%;
}

#saran div p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}

#suggestionForm .input {
  display: flex;
  align-items: center;
  width: 220px;
  position: relative;
  left: 30%;
}

#suggestionForm div label {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #1e40af;
  margin-right: 10px;
}

#suggestionForm div input {
  padding: 8px 10px;
  margin-right: 50px;
  width: 200px;
  border: solid #000 2px;
  border-radius: 5px;
}

.message {
  display: flex;
  flex-direction: column;
}

.message label {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #1e40af;
}

.message textarea {
  padding: 10px;
  height: 120px;
  width: 480px;
  border: solid #000 2px;
  border-radius: 5px;
  position: relative;
  left: 30%;
}

button {
  margin: 0 46%;
  padding: 4px 16px;
  border-radius: 5px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #1e40af;
  color: #fff;
}

button:hover {
  background-color: #000;
}

/* tampilan mobile */
@media (max-width: 640px) {
  .profile img {
    width: 150px;
    height: 150px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .body-text .head {
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .body-text .body {
    font-size: 15px;
    margin-left: 7%;
    margin-right: 7%;
  }

  .sosmed {
    margin: 20px 38%;
  }

  .footer {
    left: 10%;
    right: 10%;
  }

  #suggestionForm .input {
    width: 200px;
    left: 30%;
    flex-direction: column;
  }

  .message {
    left: 0px;
    right: 100px;
  }

  .message textarea {
    width: 300px;
    left: 10%;
    right: 10%;
  }

  button {
    margin: 0 40%;
  }
}
